.header {
    text-align: center;
    padding: 10px;
    text-transform: uppercase;
    background: #0a0a23;
    color: #fff;
    border-bottom: 4px solid #fdb347;

    @mixin atSmall {
        padding: 32px;
        border-bottom: 2px solid #fdb347;
    }

    &__title {
        color: mediumseagreen;
        font-size: 1.5em;
        
        @mixin atSmall {
            font-size: 2em;
        }
    }
}